.console--wrapper {
    overflow-y: scroll;
    // position: absolute;
    // left: 0;
    // top: 0;
    width: 350px;
    height: 100%;
    background-color: gray;
    color: greenyellow;
    word-wrap: break-word;

    .console--message {
        padding: 8px;
        white-space: pre-line;

        &:hover {
            background-color: #333;
        }
    }
}
