<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>

<app-headbar></app-headbar>
<div class="login-site--wrapper flex-center">
    <form [formGroup]="loginForm" *ngIf="!totpRequired">
        <div>
            <mat-form-field>
                <input matInput formControlName="username" placeholder="Username" />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput formControlName="password" placeholder="Password" />
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="login()">Anmelden</button>
            <button mat-button (click)="clear()">Abbruch</button>
        </div>
    </form>
    <div *ngIf="totpRequired">
        <form [formGroup]="additionalForm">
            <mat-form-field>
                <input matInput formControlName="totp" placeholder="Sechsstelliger Code" />
            </mat-form-field>
        </form>
        <div>
            <button mat-raised-button color="primary" [disabled]="additionalForm.invalid" (click)="sendTotp()">
                Bestätigen
            </button>
            <button mat-button (click)="clear()">Abbruch</button>
        </div>
    </div>
</div>
