<app-headbar></app-headbar>
<form [formGroup]="loginForm">
    <div>
        <mat-form-field>
            <input matInput formControlName="username" placeholder="Username" />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput formControlName="password" placeholder="Password" />
        </mat-form-field>
    </div>
</form>
<div>
    <button mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="login()">
        Anmelden
    </button>
    <button mat-button (click)="clear()">Abbruch</button>
</div>
