.list-item--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .list-item--left {
        display: flex;
        flex-direction: column;
    }
}
