<form class="auth-type-form" [formGroup]="authTypeForm">
    <mat-form-field *ngIf="selectedAuthenticationTypes.includes('password')">
        <mat-label>Passwort*</mat-label>
        <input matInput formControlName="password" [type]="isVisible ? 'text' : 'password'" />
        <button mat-icon-button matSuffix (click)="isVisible = !isVisible">
            <mat-icon>{{ isVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field *ngIf="selectedAuthenticationTypes.includes('email')">
        <mat-label>E-Mail-Adresse*</mat-label>
        <input matInput formControlName="email" />
    </mat-form-field>
    <ng-container *ngIf="selectedAuthenticationTypes.includes('totp')">
        <app-qr-code [value]="totpUri"></app-qr-code>
    </ng-container>
</form>
