.space-right-12 {
    margin-right: 12px;
}

.oauth-card {
    display: flex;
    flex-direction: column;
    height: 600px;
    min-width: 500px;
    max-width: 900px;
}

.motion-identifier {
    padding: 4px;
    margin: 6px 4px;
    border-radius: 4px;
    min-width: 100px;
    text-align: center;
    cursor: pointer;

    &:hover {
        background: #ccc;
    }
}
