<div class="flex-center padding-8">
    <div>
        <ng-container *ngIf="true">
            <h3>Derzeit zur Authentifizierung genutzte Verfahren:</h3>
            <mat-form-field>
                <mat-label>Gewählte Verfahren</mat-label>
                <mat-select multiple [formControl]="twoFactorForm" required>
                    <mat-option *ngFor="let option of authOptions" [value]="option.key">
                        {{ option.value }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="twoFactorForm.invalid">Mindestens ein Verfahren muss aktiviert sein!</mat-error>
            </mat-form-field>
            <div>
                <button
                    mat-raised-button
                    *ngIf="twoFactorForm.dirty"
                    [disabled]="twoFactorForm.invalid"
                    (click)="confirmValues(twoFactorForm)"
                >
                    Bestätigen
                </button>
            </div>
        </ng-container>
    </div>
</div>

<div id="canvas"></div>
